{{!< default}}

<div class="home">
	<section class="home__section home__intro row" style="max-width:1024px">
		<div class="home__description col-md-6">
			<h1 class="home__title">
				A new way to
				<br />
				<span class="home__title--highlighted">
					Co-Create
				</span>
			</h1>
			<p class="home__text">
				More than a digital whiteboard, BoardX's AI power makes innovation and
				collaboration delightful and efficient.
			</p>
			{{!-- <button
				class="home__cta btn-rounded"
				onclick="window.location.href='https://app.boardx.us/join'"
			>Get started - It's free</button> --}}
		</div>
		<div class="home__image col-md-6">
			<img
				src="assets/images/index/index-1.png"
				alt="BoardX Logo"
				class="home__img"
			/>
		</div>
	</section>
</div>

    {{#is "home"}}
        {{#if @custom.show_featured_posts}}
            {{> "featured"}}
        {{/if}}
    {{/is}}

<div class="home" >
	<section class="home__section home__workflow row" style="max-width:1024px">
		<div class="home__image col-md-6">
			<img
				src="assets/images/index/index-2.gif"
				alt="Image"
				class="home__img"
			/>
		</div>
		<div class="home__description col-md-6">
			<h2 class="home__subtitle">Bring AI to your workflow</h2>
			<p class="home__subtext">
				In Innovation, quantity leads to quality. Our AI-powered whiteboard
				generates a large pool of ideas in seconds for you to build creative
				solutions.
			</p>
			<p class="home__subtext">
				Moreover, with a wide variety of AI-powered commands prepared by us, you
				can explore creative ways to use AI and push the limit - no code needed.
			</p>
			<ul class="home__list">
				<li><img
						src="assets/images/index/icon-1.svg"
						alt="Icon 1"
						class="list-icon"
					/>
					Generate 10x ideas in 5 seconds</li>
				<li><img
						src="assets/images/index/icon-2.svg"
						alt="Icon 2"
						class="list-icon"
					/>
					Synthesize notes with one click</li>
				<li><img
						src="assets/images/index/icon-3.svg"
						alt="Icon 3"
						class="list-icon"
					/>
					Create images from text</li>
				<li><img
						src="assets/images/index/icon-4.svg"
						alt="Icon 4"
						class="list-icon"
					/>
					Co-explore creative ways to leverage AI with BoardX</li>
			</ul>
		</div>
	</section>

	<section class="home__section home__features row" style="max-width:1024px">
		<div class="home__description col-md-6">
			<h2 class="home__subtitle">Get the most of your creative endeavors</h2>
			<p class="home__subtext">BoardX is an integrated solution for
				collaboration. You can use it to host online meetings, store documents,
				brainstorm ideas, collaborate on tasks, and keep track of progress on
				your projects.</p>
			<ul class="home__list">
				<li><img
						src="assets/images/index/icon-5.svg"
						alt="Icon 5"
						class="list-icon"
					/>
					Access from any platform <span class="text-[#f2e]"> 111</span></li>
				<li><img
						src="assets/images/index/icon-6.svg"
						alt="Icon 6"
						class="list-icon"
					/>
					Online workshops & meetings</li>
				<li><img
						src="assets/images/index/icon-7.svg"
						alt="Icon 7"
						class="list-icon"
					/>
					Powerful templates</li>
				<li><img
						src="assets/images/index/icon-8.svg"
						alt="Icon 8"
						class="list-icon"
					/>
					Centralize your workflow</li>
			</ul>
		</div>
		<div class="home__image col-md-6">
			<img
				src="assets/images/index/index-3.png"
				alt="Image"
				class="home__img"
			/>
		</div>
	</section>

	<section class="home__section home__utilities row" style="max-width:1024px">
		<div class="home__image col-md-6">
			<img
				src="assets/images/index/index-4.png"
				alt="Image"
				class="home__img"
			/>
		</div>
		<div class="home__description col-md-6">
			<h2 class="home__subtitle">Augment Creativity through native design
				thinking support</h2>
			<p class="home__subtext">It's no wonder that design thinking has become so
				popular in recent years. It's an incredibly effective way to cultivate
				creativity and innovation.</p>
			<p class="home__subtext">So if you're looking for a way to take your team
				to the next level, design thinking is the way to go and BoardX can help
				land the innovation process and make it more scalable.</p>
			<ul class="home__list">
				<li><img
						src="assets/images/index/icon-9.svg"
						alt="Icon 9"
						class="list-icon"
					/>
					Powerful design-thinking templates</li>
				<li><img
						src="assets/images/index/icon-10.svg"
						alt="Icon 10"
						class="list-icon"
					/>
					Centralize your workflow</li>
				<li><img
						src="assets/images/index/icon-11.svg"
						alt="Icon 11"
						class="list-icon"
					/>
					Get your team up to speed</li>
				<li><img
						src="assets/images/index/icon-12.svg"
						alt="Icon 12"
						class="list-icon"
					/>
					Insights at a glance</li>
			</ul>
		</div>
	</section>

	<section class="home__section home__stories row" style="max-width:1024px">
		<h2 class="home__subtitle">
			Create
			<span class="home__title--highlighted">Engaging Stories</span>
			with BoardX
		</h2>
		<p class="home__subtext">
			Enjoy end-to-end support for your collaboration journey. Create engaging
			and interactive stories effortlessly with the support of AI and integrated
			tools that streamline the process of sharing your stories.
		</p>
		<div class="home__image">
			<img
				src="assets/images/index/index-5.png"
				alt="Image"
				class="home__img"
			/>
		</div>
	</section>

	<section class="home__section home__section--dark home__vision row">
		<div class="home__description col-md-6">
			<h2 class="home__subtitle home__subtitle--dark">Open, Affordable,
				Scalable, and Secure</h2>
			<p class="home__subtext home__subtext--dark">
				Yes, we're on the way to open source!
			</p>
			<p class="home__subtext home__subtext--dark">
				We're passionate about building a global open community to create better
				visual collaboration tools powered by AI. We believe this will help
				scale design thinking and augment human creativity to solve the big
				challenges ahead of us.
			</p>
		</div>
		<div class="home__image col-md-6">
			<img
				src="assets/images/index/index-6.png"
				alt="Image"
				class="home__img"
			/>
		</div>
	</section>
</div>
