h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--text-color);
    line-height: 3.0;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--text-color);
    line-height: 2.0;
}
p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8;
}